<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Capybara Form</title>
    <link href="form.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Add Capybara</h1>
<div class="box">
    <form action="#" th:action="@{/form/add}" th:object="${capybara}" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}"/>
        <label for="age">Age</label>
        <input type="text" id="age" th:field="*{age}"/>
        <input type="submit" value="Submit">

        <button onclick="location.href = '/view/all'">Go back</button>
    </form>
</div>
</body>
</html>