<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find By Age Capybara Form</title>
    <link href="form.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Find Capybara By Age</h1>
<div class="box">

    <form action="#" th:action="@{/form/find/byAge}" th:object="${capybara}" method="POST">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" th:field="*{age}"/>
        <input type="submit" value="Submit">
    </form>
    <button onclick="location.href = '/view/all'">Go back</button>
</div>
</body>
</html>