<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find By Name Capybara Form</title>
    <link th:href="@{/form.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Find Capybara By Name</h1>
<div class="box">
    <form action="#" th:action="@{/form/find/byName}" th:object="${capybara}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}"/>
        <input type="submit" value="Submit">
    </form>
    <button onclick="location.href = '/view/all'">Go back</button>
</div>
</body>
</html>