<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Capybara Form</title>
</head>
<body>
<form action="#" th:action="@{/form/add}" th:object="${capybara}" method="POST">
    <label for="id">Id</label>
    <input type="text" id="id" th:field="*{id}" />
    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}" />
    <label for="age">Age</label>
    <input type="text" id="age" th:field="*{age}" />
    <input type="submit" value="Submit">
</form>
</body>
</html>